<div class="container">
  <h1>RPG</h1>
  <p>You've just graduated from college with a degree in Zoology, you start your new job today, try not to get fired! Enter your name and gender. Then click play to start.</p>
  <form id="rpg-form">
          <div class="form-group">
            <label for="name">Enter your name:</label>
            <input id="name" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="gender">gender:</label>
            <input id="gender" type="text" class="form-control">
          </div>

  </form>
  <button><a routerLink="scenario"><strong>play</strong></a></button>

  <!-- <button><a routerLink="scenario1"><strong>Feed the lions</strong></a></button>
  <button><a routerLink="scenario2"><strong>Clean the zebras' enclosure</strong></a></button> -->
<!-- <router-outlet></router-outlet> -->



</div>
